style.
  .e_mes {
    color: red;
    font-family: courier;
    text-align: center;
  }

  .e_box {
    position: absolute;
    background: black;
    border: 3px solid red;
    height:100;
    width: 600;
    left: 25%;
  }
div(style="width:980;")
  div.e_box
    p.e_mes Internet Failure. Press the back button to continue.
    p.e_mes Guru Meditation: #00000000001.404