extends layout

block content

           h1= pageTitle
           
           
           h2 A bit of an insight
           p.
             Mardy AFC are a football club from Mardy nr. Abergavenny, founded in 1897 the club currently run two senior teams. The first team playing in the Gwent County Division 2 and the reserve team in the Gwent Central Division 1. The club also run junior teams from the age of 6 through to 16, including <a href="http://www.eteamz.com/mardytigersgirls/" target="_blank">girls teams</a> and an under 18s team who play in the Gwent County Youth League.
           p.
             As of the 2013/14 season the Committee members are:
