extends layout

block content
  h1= pageTitle
    //h2 A bit of an insight
  p.
    Mardy AFC are a football club from Mardy, nr. Abergavenny, founded in 1897 the club currently run two senior teams. The first team playing in the Gwent County Division 2 and the reserve team in the Gwent Central Division 1. The club also run junior teams from the age of 6 through to 16, including <a href="http://www.eteamz.com/mardytigersgirls/" target="_blank">girls teams</a> and an under 18s team who play in the Gwent County Youth League.
  p.
    As of the 2013/14 season the Committee members are:
  dl.dl-horizontal
    dt Chairman
      dd
        img.pull-left(src='http://placehold.it/80x80', style='margin-right: 10px;') Malcolm Skinner
        p
        small
          'Macky' has been a stalwart of the club for almost 50 years having started out as a player. He has been instrumental in running the club, setting up the Juniors and more. In fact you can still find 'Macky' marking out the pitch and putting the nets up and putting in the hours on a sunday running the car boot sale to add much needed funds to the club.
    dt Vice-chairman
      dd
        img.pull-left(src='http://www.gravatar.com/avatar/c5c30c47648635cf74f399f9ea53c135.png', style='margin-right: 10px;') Adam White
        p
        small.
          Even though Adam has been with the club for 27 years, since starting playing as an 8 year old, he has only in the last 2 years been a member of the Committee and this year stepped up to take some responsibility away from Macky. Still a player with the first team Adam has also revamped the club website and 'branding' to try to attract more sponsorship.