extends layout

block content
  
            h1= pageTitle
            h2 Halloween Party 2nd November
            p.
              This years Halloween party being held at the Belmont Inn is a Disney themed affair, starting at 7pm with games, prizes and more.