extends layout

block content
  div.container
    div.row
      div.col-lg-8
        div.content(style='margin-left: 20px;')
          div.page(style='display: block;')
            h1= pageTitle
            h2 Halloween Party 2nd November
            p.
              This years Halloween party being held at the Belmont Inn is a Disney themed affair, starting at 7pm with games, prizes and more.