footer.footer
  div.container
    div.row
      div.col-lg-12
        p
          | Website designed and built by <a href="http://twitter.com/adamwhite1">@adamwhite1</a> &copy; 2013
        p
          | Hosted by <a href="http://swift4.com">Swift4&trade;</a>