extends layout

block content         
  h1 Coming soon.....
  h2 Halloween Party 2nd November
  p.
    This years Halloween party being held at the Belmont Inn is a Disney themed affair, starting at 7pm with games, prizes and more.
    <a href='/events'>[More details]</a>
  h2 Office Lottery
  p.
    Generate that excitment the Friday feeling brings into your office with the Mardy AFC Office Lottery. Play with up to 20 colleagues each week, draw will take place every Friday at 3pm. More details to follow.....